<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">
	
	<bean id="h1" class="com.demo.bean.HelloWorld">
	</bean>
	
	<bean id="s2" class="com.demo.bean.Student">
	    <constructor-arg index="0" value="1"></constructor-arg>
		<constructor-arg index="1" value="xyz"></constructor-arg>
		<constructor-arg index="2" value="55"></constructor-arg>
		<constructor-arg index="3" value="88"></constructor-arg>
		<constructor-arg index="4" value="88"></constructor-arg>
	    <constructor-arg index="5" ref="a3"></constructor-arg>
	</bean>
	
	<bean id="a3" class="com.demo.bean.Address">
		<constructor-arg index="0" value="model colony"></constructor-arg>
		<constructor-arg index="1" value="pune"></constructor-arg>
		<constructor-arg index="2" value="21312"></constructor-arg>
		
	
	</bean>
	
<bean id="s1" class="com.demo.bean.Student" autowire="byType">
	<property name="name" value="abc"></property>
	<property name="m1" value="90"></property>
	<property name="m2" value="89"></property>
	<property name="m3" value="92"></property>
	</bean>
	
	<bean id="a1" class="com.demo.bean.Address">
	<property name="street" value="sb road"></property>
	<property name="city" value="pune"></property>
	<property name="pincode" value="123456"></property>
	</bean>
	
	<bean id="a2" class="com.demo.bean.Address" primary="true">
	<property name="street" value="fc road"></property>
	<property name="city" value="pune"></property>
	<property name="pincode" value="123456"></property>
	</bean>
</beans>